

<div th:fragment="container" class="page-container container">
    <aside class="page-aside"><nav class="aside-menu">

        <div class="aside-menu__item">
            <div class="aside-menu__item-link ">Общая информация</div>
            <div class="aside-menu__item-sublink is-active">Сведения об образовательной организации</div>

            <a href="https://www.nstu.ru/university/info/dostupsreda" class="aside-menu__item-sublink">Доступная среда</a>

            <a href="https://www.nstu.ru/university/info/details" class="aside-menu__item-sublink">Реквизиты</a>

            <a href="https://www.nstu.ru/university/info/document" class="aside-menu__item-sublink">Документы</a>

            <a href="https://www.nstu.ru/university/info/graduatediploma" class="aside-menu__item-sublink">Образцы документов об образовании</a>

            <a href="https://www.nstu.ru/university/info/finance" class="aside-menu__item-sublink">Финансово-хозяйственная деятельность университета</a>

            <a href="https://www.nstu.ru/university/info/property" class="aside-menu__item-sublink">Имущественный комплекс</a>

            <a href="https://www.nstu.ru/university/info/rezhim" class="aside-menu__item-sublink">График и режим работы университета</a>

            <a href="https://www.nstu.ru/university/info/reviews" class="aside-menu__item-sublink">Отзывы студентов и ППС</a>


        </div>

        <div class="aside-menu__item">
            <a href="https://www.nstu.ru/prioritet2030" class="aside-menu__item-link">ПРИОРИТЕТ 2030</a>
            <a href="https://www.nstu.ru/prioritet2030/Electronics_energy" class="aside-menu__item-sublink">Силовая электроника и интеллектуальная энергетика</a>

            <a href="https://www.nstu.ru/prioritet2030/new_materials" class="aside-menu__item-sublink">Новые материалы для прорывных технологий</a>

            <a href="https://www.nstu.ru/prioritet2030/biomedicine" class="aside-menu__item-sublink">Новые инженерные решения и искусственный интеллект для биомедицины</a>

            <a href="https://www.nstu.ru/prioritet2030/institutional_projects" class="aside-menu__item-sublink">Институциональные (общеуниверситетские) проекты</a>


        </div>

        <div class="aside-menu__item">

            <a href="https://nstu.ru/phone" class="aside-menu__item-link">Телефонный справочник</a>
        </div>

        <div class="aside-menu__item">
            <a href="https://www.nstu.ru/university/struct" class="aside-menu__item-link">Структура и органы управления образовательной организацией</a>
            <a href="https://www.nstu.ru/university/struct/councils" class="aside-menu__item-sublink">Советы</a>


        </div>

        <div class="aside-menu__item">

            <a href="https://www.nstu.ru/university/projects" class="aside-menu__item-link">Федеральные проекты</a>
        </div>

        <div class="aside-menu__item">

            <a href="https://www.nstu.ru/university/nstu_rankings" class="aside-menu__item-link">Рейтинги</a>
        </div>

        <div class="aside-menu__item">

            <a href="https://www.nstu.ru/university/university_events_people" class="aside-menu__item-link">Университет • люди • события</a>
        </div>

        <div class="aside-menu__item">

            <a href="https://www.nstu.ru/university/hrono" class="aside-menu__item-link">История</a>
        </div>
    </nav>
    </aside>

    <main class="page-content">
        <div class="breadcrumbs">
            <a href="https://www.nstu.ru/" class="breadcrumbs__item">Главная</a><a href="https://www.nstu.ru/university" class="breadcrumbs__item">Университет</a><a href="https://www.nstu.ru/university/info" class="breadcrumbs__item">Общая информация</a></div>



        <div class="page-title"><h1>Сведения об образовательной организации</h1></div>

        <p><a href="https://www.nstu.ru/university/info/sveden/common">Основные сведения</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/struct">Структура и органы управления образовательной организацией</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/document">Документы</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/education">Образование</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/eduStandarts">Образовательные стандарты</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/employees">Руководство. Педагогический (научно-педагогический) состав</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/objects">Материально-техническое обеспечение и оснащённость образовательного процесса</a>
        </p>

        <p><a href="https://www.nstu.ru/university/info/dostupsreda">Доступная среда</a></p>

        <p><a href="https://www.nstu.ru/university/info/sveden/grants">Стипендии и иные виды материальной поддержки</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/paid_edu">Платные образовательные услуги</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/budget">Финансово- хозяйственная деятельность</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/vacant">Вакантные места для приема (перевода)</a>
        </p>
        <p><a href="https://www.nstu.ru/university/info/sveden/inter">Международное сотрудничество</a>
        </p>


        <div class="page-bottom">
            <div class="author text-gray text-small">
                Размещение информации на странице:<br>
                Данные из <a href="http://ciu.nstu.ru/isu/">Информационной системы</a>&nbsp;&nbsp;<span class="insert_mail" before="info" after="ciu.nstu.ru"></span><a class="mail" href="mailto:info@ciu.nstu.ru">info@ciu.nstu.ru</a>

            </div>
        </div>
    </main>

</div>