<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резервное копирование и восстановление данных</title>
    <link rel="stylesheet" type="text/css" href="../../css/laba4.css">
</head>
<body>
<h1>Резервное копирование и восстановление данных</h1>

<!-- Форма для резервного копирования данных -->
<form action="/backup" method="post">
    <button type="submit">Резервное копирование данных</button>
</form>

<!-- Форма для восстановления данных -->
<form action="/restore" method="post" >
    <button type="submit">Восстановление данных</button>
</form>
</body>
</html>
